// primary
$violet: hsl(263, 55%, 52%);
$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral

$fc-primary: hsl(0, 0%, 81%);
$bg-primary: hsl(210, 46%, 95%);

// $fc-verified-dark: ;
$fc-verified-light: hsl(0, 0%, 81%);
$fc-paragraph: hsl(0, 0%,50%);

// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

$fs: clamp(11px, 2vw, 13px);
$fw-regular:500;
$fw-semibold:600;
$ff: "Barlow Semi Condensed", sans-serif;

@mixin grid($columns, $rows, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    gap: $gap;
};

@mixin flex {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
};