@import './variables';

body{
    font-family: $ff;
    font-size: $fs;
    font-weight: $fw-regular;
    color: $fc-primary;
    
    background-color: $bg-primary;
}

main {
    margin: 7rem auto;
}

img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid $fc-primary;
}

.container {
    @include grid(
        repeat(auto-fit, minmax(210px, 1fr)), 
        auto, 
        1.5rem);
        grid-auto-flow: dense;
        
        margin: auto;
        width: min(90%, 1000px);
        
        .review {
            padding: 1.2rem 1.5rem;
            border-radius: 10px;
        
        .author-wrapper {
            @include grid(2rem 1fr, 1fr, 1rem);
            align-items: center;
            margin-bottom: .7rem;
            
            .user-img {
                border-radius: 50%;
            }

            .author-name> .author {
                margin-bottom: .3rem;
            }
            
            .author-name> p >.author.dark {
                color: $dark-grayish-blue;
            }
        }
        
        .review-wrapper {
            .title {
                color: $white;
                font-size: 1.3em;
                font-weight: $fw-semibold;
                line-height: 1.2em;
    
                margin-bottom: 1rem;
            }

            .title.dark {
                color: $dark-grayish-blue;
            }
        
            .paragraph {
                color: $fc-paragraph; 
                font-size: .9em;
                line-height: 1.5em;
            }
            
            .paragraph.dark {
                color: $fc-paragraph-darker; 
            }
        }
    }
}

.verified {
    color: $fc-verified-light;
    font-size: .85em;
}

.verified.dark {
    color: $fc-verified-dark;
}

#daniel {
    grid-column: span 2;
    order: 1;

    background-color: $violet;
    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 80%;
}

#jonathan {
    grid-column: span 1;
    order: 2;
    
    background-color: $dark-grayish-blue;
}

#jeanette {
    grid-column: span 1;
    order: 4;
    
    background-color: $white;
}

#patrick {
    grid-column: span 2;
    order: 5;
    
    background-color: $dark-blackish-blue;
}

#kira {
    grid-row: span 2;
    order: 3;
    
    background-color: $white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 1rem;
    color: $dark-grayish-blue;
    
    a { 
        color: hsl(228, 45%, 44%); 
        text-decoration: none;
    }
}

@import './small-device';